html,
body,
div,
span,
form,
label,
footer,
header{
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

footer,
header,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
