.app {
  margin: 50px auto;
  width: 100%;
  max-width: 800px;
  padding: 0 50px;

  @media (max-width: 650px) {
    margin: 30px auto;
    padding: 0 30px;
  }
}

.form {
  border-bottom: 1px dashed #000;
  margin-bottom: 50px;
}