.checkBoxWrap {
  position: relative;
  padding-right: 30px;
}

.checkBox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  cursor: pointer;

  &:checked + .label::after {
    background-color: #000;
  }
}

.label {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  &::before {
    right: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #000;
  }

  &::after {
    width: 16px;
    height: 16px;
    background-color: transparent;
    right: 2px;
    transform: background-color 200ms;
  }
}