.sortLabel {
  display: none;
}

.headerRow {
  font: bold 12px/1 "SimplonMono";
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border: 1px solid #000;
  height: 24px;
  padding: 0 5px;

  @media (max-width: 650px) {
    border: none;
    display: block;
    padding: 0;
    height: auto;
  }
}

.headerCell {
  text-align: center;
  padding: 0 10px;

  &:first-of-type {
    text-align: left;
  }

  &:last-of-type {
    text-align: right;
  }

  @media (max-width: 650px) {
    display: inline-block;
    padding-left: 0;
    margin: 0 10px 10px 0;

    &[role="columnheader"] {
      width: auto;
      flex-grow: 1;
    }
  }
}

.label {
  flex-grow: 10;
}

.quantity {
  width: 150px;
}

.createdAt {
  width: 150px;
}

.isActive {
  width: 95px;
}

.row {
  display: flex;
  padding: 15px 5px;
  border: 1px solid transparent;

  &:first-child {
    padding-top: 30px;
  }

  @media (max-width: 650px) {
    padding: 10 5px;
    border: 1px solid #000;
    flex-direction: column;
    margin-top: 10px;

    &:first-child {
      padding: 10px 5px;
    }
  }
}

.cell {
  position: relative;
  text-align: center;
  font-size: 14px;
  padding: 0 10px;

  &::before {
    position: absolute;
    width: 85px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: none;
    text-align: right;
    padding-top: 1px;
    font: bold 12px "SimplonMono";
  }

  &.label {
    text-overflow: ellipsis;
    white-space: nowrap;

    &::before {
      content: "Label:";
    }
  }

  &.quantity::before {
    content: "Quantity:";
  }

  &.createdAt::before {
    content: "Created:";
  }

  &.isActive::before {
    content: "Is Active:";
  }

  &:first-of-type {
    text-align: left;
  }

  &:last-of-type {
    text-align: right;
  }

  @media (max-width: 650px) {
    text-align: left;
    padding: 5px 5px 5px 90px;
    overflow: hidden;

    &::before {
      display: block;
    }

    &[role="cell"] {
      width: 100%;
    }

    &:last-of-type {
      text-align: left;
    }
  }
}